.homebgcolor{
  background-color: #F5D393;
}
.mainCont {
  margin-top: 50px;
  padding: 1em 5em;
  height: 100%;
}

h1 {
  color: #002365;
  font-weight: 700;
}

h2,
h3,
h6 {
  font-weight: 700;
}

h2,
h3,
p,
h6 {
  color: #2b2b2b;
}

h1,
h6 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.btn-btn {
  min-width: 300px;
  background-color: #002365;
  border-radius: 25px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: 1.5em auto;
}

.btn-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.carousel-indicators {
  bottom: -36px;
}

.stake-btn {
  min-width: 100%;
  padding:1%;
}
.grid-btn {
  
  background-color: #002365;
  border-radius: 15px;
  border: 0;
  color: #fff;
  font-size: x-small;
  text-transform: uppercase;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
          margin: 0 0 10px;
  width: 70px;
  
}
.mtop-10 {
  margin-top: 1em;
}

.lhs {
  margin-top: 2em;
}

.rhs {
  padding-left: 6em;
}

.gridMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-column-gap: 1em;
  padding: 0 30px;
}

.gridMain .gridCont h3 {
  font-size: 1.5em;
}

.stackMain {
  border-radius: 15px;
  padding: 0.5em;
  height: 104px;
  overflow-y: auto;
  -webkit-box-shadow: 0 6px 19px 1px #e6e6e6;
          box-shadow: 0 6px 19px 1px #e6e6e6;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.stackMain::-webkit-scrollbar {
  width: 3px;
}

.stackMain::-webkit-scrollbar-track {
  background: #F5D393;
}

.stackMain::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #F5D393;
}

.stackMain::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stackingCont {
  display: block;
}

.stackingCont p {
  white-space: nowrap;
  
}


.stackingCont p span {
  font-weight: 800;
}

.stackingCont img {
  width: 20px;
  height: 20px;
}

.stackingCont .grid-row {
  
  display: grid;
  grid-template-columns: 65%  25%  ;
  padding-left: 5%;
  border-bottom: 1px solid #00000010;
  overflow-x: hidden;
 
  
}

.stackingCont .grid-row p:first-child {
  place-self: flex-start;
}

.estimateMain {
  border-radius: 15px;
  padding: 0;
  margin-top: 2.5em;
  -webkit-box-shadow: 0 6px 19px 1px #e6e6e6;
          box-shadow: 0 6px 19px 1px #e6e6e6;
}

.estimateMain .estimateCont {
  border-radius: 15px;
  position: relative;
  padding-bottom: 2em;
  top: -5px;
}

.estimateMain .estimateCont .title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
  background-color: #002365;
  padding: 3px 2em;
  color: #fff;
  border-radius: 20px;
  white-space: nowrap;
}

.inputCont {
  padding: 2em 2em 0;
}

.inputCont .labelCont {
  margin: 0.5em 0;
  font-size: 18px;
}

.inputCont .labelCont p {
  color: #2b2b2b;
  font-weight: 500;
}

.inputCont .labelCont span {
  color: #002365;
  font-weight: 500;
}

.inputCont .labelCont input {
  border: 0;
  border-bottom: 1px solid #2b2b2b;
  padding: 0 10px;
  width: 100px;
  text-align: center;
  font-weight: 500;
  color: #002365;
  font-size: 1em;
  margin: 0 0.5em;
  font-weight: 500;
  background-color: transparent;
}

.bottomCont {
  font-size: 18px;
}

.bottom-btn-cont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
}

.mobStackCont,
.mobCont {
  display: none;
}

.rc-slider-rail {
  background-color: #F5D393 !important;
  height: 8px !important;
}

.rc-slider-track {
  background-color: #002365 !important;
  height: 8px !important;
}

.rc-slider-handle {
  -webkit-box-shadow: 0 6px 19px -3px #777;
          box-shadow: 0 6px 19px -3px #777;
  border: 0 !important;
  width: 28px !important;
  height: 28px !important;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  margin-top: 0 !important;
}

.rc-slider-handle:active, .rc-slider-handle:focus {
  -webkit-box-shadow: 0 6px 19px -3px #777 !important;
          box-shadow: 0 6px 19px -3px #777 !important;
}

.rc-slider-mark-text {
  width: 100px;
  color: #2b2b2b;
}

.rc-slider-dot {
  opacity: 0;
}

.deskCont {
  display: -ms-grid;
  display: grid;
}

.numberCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 2em 1em;
}

.numberCont p {
  background-color: #F5D393;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b2b2b;
}

.mobSlideCont {
  -webkit-box-shadow: 1px 2px 5px #2b2b2b60;
          box-shadow: 1px 2px 5px #2b2b2b60;
  margin: 10px 20px;
  border-radius: 5px;
  padding: 1em 0.5em;
}

.mobSlideCont h3 {
  font-size: 1em;
}

@media screen and (min-width: 1366px) and (min-height: 670px) {
  .stackMain {
    height: 120px;
  }
  .estimateMain {
    margin-top: 3em;
  }
  .inputCont {
    padding: 4em 2em 0;
  }
  .estimateMain .estimateCont {
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 1366px) {
  h1,
  .gridMain .gridCont h3,
  h6 {
    font-size: 0.9em;
  }
  p,
  .inputCont .labelCont span,
  .stackingCont p, .inputCont .labelCont input {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 800px) {
  .stackMain {
    height: 120px;
  }
  .estimateMain {
    margin-top: 3em;
  }
  .inputCont {
    padding: 4em 2em 0;
  }
  .estimateMain .estimateCont {
    padding-bottom: 3em;
  }
  .row {
    margin: 0 !important;
  }
  .mainCont {
    padding: 1em;
  }
  .estimateMain {
    border: 0;
  }
  .rhs {
    padding: 0;
    margin-top: 3em;
  }
  .stackMain {
    border: 0;
  }
  .stackingCont,
  .deskCont {
    display: none;
  }
  .mobCont {
    display: block;
  }
  .mobStackCont {
    display: block;
    padding: 0 1em;
  }
  .mobStackCont .mobRow {
    border-bottom: 1px solid #e2e2e2;
  }
  .mobStackCont .mobRow:last-child {
    border-bottom: 0;
  }
  .mobStackCont img {
    width: 25px;
    height: 25px;
  }
  .mobStackCont .sendIcon {
    margin-left: auto;
  }
  .mobStackCont .textCont {
    margin: 0 1em;
  }
  .mobStackCont .textCont p {
    font-size: 0.9em;
  }
  .mobStackCont .textCont p:nth-child(2) {
    font-weight: 800;
    font-size: 10px;
  }
}
/*# sourceMappingURL=home.css.map */